.rainy {
  background: linear-gradient(to right, #434343, #000000);
}

.hot-alert {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 6px;
}
